@page "/"
@using MingChi.Web.BlazorServerCRM.Components

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MyButton>我是按鈕</MyButton>

<p>
    <MyButton2 ButtonText="請按我！Button2"></MyButton2>
</p>

<p>
    <MyButton3></MyButton3>
</p>
